.listado-izquierdo {
    width: 30%;
    float: left;
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.cabecera-listado {
    width: 100%;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width: 100%;
    height: 200px;
}